@charset "utf-8";
/* CSS Document */

{
  margin:0;
  padding:0;
}
body {
  min-width: 680px;
  background: #999; 
  padding:10px;
}

#cabecera {
  background: #eee;
  margin: 0px 0px 0px 0px;
}

#bienvenido {
  font-family:Arial;
  font-size:2.1em;
}

#titulo {
  height:35px; /*grosor del titulo del sistema*/
  background:#c9992b; 
  /* #30237d --> color azul oscuro
  #00BFFF --> color azul
   #ccc; (DCDCDC --> color gris de cabecera) (2c3742 --> color grisoscuro de cabecera) 
#c9992b  --> color mostaza
  */
  
}

div#menu {
  background:  #c6222b; /*#4169E1; #036; (228B22 --> color verde) c6222b --> color rojo)*/
  float: left;
  /*opacity: 0.80;  /*efecto de transparencia*/
  width: 100%;
  font-family:Arial;
  font-size:1.3em;
  
}

div#menu li {
   float:left;       
   position:relative;       
   list-style-type:none;
   margin: 4px 0px 0px 50px; /*posicionamiento del menu*/
}

div#menu a {
  display:block;        
  text-decoration:none;        
  color:#069;     
  padding: 5px 5px 0px 18px;      
  background: #c6222b; /*#4169E1; #036; (228B22 --> color verde) */
   color: #fff;
   margin: -14px 0px 0px 0px;
}

div#menu a:hover {
  color: #000;
  background: #DCDCDC; /*#69C; (DCDCDC --> color gris de fondo) */
  margin: -14px 0px 0px 0px;
}
   
div#menu ul li ul {
   position:absolute;       
   width:12em;
   margin: 0px 0px 0px -40px;
}

div#menu ul li ul li {
   width:100%;        
   /*border-bottom:1px solid #000000; /*#069;*/
   margin: 15px 0px 0px 0px; 
}

body div#menu ul li ul {
  display:none;
  
}

div#menu ul li:hover ul, div#menu ul li ul:hover {
  display:block;
  
}

div#logout{
  padding: 10px 12px;
  text-align: left;
}

/*extracto de Bootstrap v3.0.0*/
.btn-info {
  color: #ffffff;
  background-color: #5bc0de;
  border-color: #46b8da;
}